@using Data.DB
@using Data.Model.APIWeb
@using Data.Utils
@using PagedList.Mvc
@using PagedList
@model IPagedList<DistrictOutputModel>

<div class="col-6 mt-2 ">
    <span>Kết quả lọc : </span><label>@Model.TotalItemCount</label>
</div>
<div class=" col-6 mt-2">
    <div class="row">
        <div class="col-3 dropdowntx">
            <span>Hành động</span>
            <span class="text-primary border" style="width:17px;height:17px;border:2px solid #CCCCCC;border-radius:60px;cursor:pointer"> <i class="fa fa-ellipsis-h ml-1 mr-1"></i></span>
            <div class="dropdown-content">
                <a href="#" title="Xóa." onclick="deleteDistrict();"><i class="fa fa-trash btnDelete"></i></a>
            </div>
        </div>
    </div>
</div>
<table class=" table table-active table-bordered table-hover table-striped table-responsive-md table-responsive-sm  mt-2" id="tblDistrict">
    <thead>
        <tr>
            <th><input type="checkbox" name="name" value="" id="checkAllDistrict"/></th>
            <th>STT</th>
            <th>Tên quận/ huyện</th>
            <th>Tên tỉnh/ thành phố</th>
            <th>Người tạo</th>
            <th>Ngày tạo</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Count() == 0)
            {
                <tr><td colspan="6" class="text-center">Không có dữ liệu.</td></tr>
            }
            else
            {
                int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                foreach (var dt in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="name" value="" class="isCheckedDistrict"/></td>
                        <td onclick="getInformationDistrict(@dt.Code);">@stt</td>
                        <td onclick="getInformationDistrict(@dt.Code);">@dt.Name</td>
                        <td onclick="getInformationDistrict(@dt.Code);">@dt.ProvinceName</td>
                        <td onclick="getInformationDistrict(@dt.Code);">Quản trị viên</td>
                        <td onclick="getInformationDistrict(@dt.Code);">@dt.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                        <td onclick="getInformationDistrict(@dt.Code);" style="display:none"><input class="DistrictId" type="text" value="@dt.Code" /></td>
                    </tr>

                    stt++;
                }
            }
        }
    </tbody>
</table>

<div class="col-md-12">
    <div class="row float-right">
        @*phân trang*@
        @Html.PagedListPager(
        Model,
        page => Url.Action("SearchDistrict", "District", new { Page = page, status = ViewBag.status, proID=ViewBag.proID, name = ViewBag.name, FromDate = ViewBag.FromDate, ToDate = ViewBag.ToDate }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tbl-district"
        })
        )
    </div>
</div>

<script>
    $("#checkAllDistrict").click(function () {
        $("input[type=checkbox]").prop("checked", $(this).prop("checked"));
    });

    $("input[type=checkbox]").click(function () {
        if (!$(this).prop("checked")) {
            $("#checkAllDistrict").prop("checked", false);
        }
    });
    function deleteDistrict() {
        var str = "";
        $("#tblDistrict tbody tr").each(function (row) {
            if ($(this).find('.isCheckedDistrict').is(':checked', true)) {
                str = str + $(this).find('.DistrictId').val() + ',';
            }
        });
        if (str == "") {
            swal("Vui lòng chọn ô để xóa!", "", "warning");
            return;
        }
        swal({
            title: "Bạn có chắc muốn xóa?",
            icon: "warning",
            buttons: ["Hủy", true],
            dangerMode: ["Tiếp tục", true],
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/District/DeleteDistrict',
                        data: { Str: str },
                        type: 'POST',
                        success: function (res) {
                            if (res == SUCCESS) {
                                swal("Xóa thành công!", "", "success");
                                searchDistrict();
                            }
                            else if (res == EXISTING) {
                                swal("Bạn không thể xóa quận/huyện thành khi các phường/xã vẫn đang hoạt động", "Thử lại", "error");
                            }
                            else {
                                swal("Có lỗi xảy ra!", "Vui lòng thử lại", "warning");
                            }
                        }
                    });
                }
            });
        
    }
    function getInformationDistrict(id) {
        $.ajax({
            url: '/District/GetDetailDistrict',
            data: { ID: id },
            success: function (res) {
                $('#updateDistrict').html(res);
                $('#editDistrict').modal("show");
            }
        });
    }
</script>